extends mixins

append prescripts
    != js("angular_mods/src/collapse/collapse.js")
    != js("angular_mods/src/alert/alert.js")

block content
    .well
        ul.list-inline.pull-right
            li Sign Up
            li Sign In
    .col-sm-12
        h1.site-banner STORYFORGE
        
    .well
        ul.list-inline.text-center.scrim
            li
                h3 EXPLORE
            li
                h3 ORGANIZE
            li
                h3 COLLABORATE
            li
                h3 BE SEEN
        h1.create-story-banner.text-center CREATE YOUR STORY!
            
        .panel.panel-default
            h1 Hello
            p. 
                Hello dear friend. I do love you so. Do you love me or are we just
                fools gold?
            p.
                Or are we just fooling around with one another, day to day, hoping
                that knowing we aren't together will drift away.


